# kernel headers installed in sysroot
KERNEL_HEADERS="../sysroot/usr/include"

# enable debugging info
UCLIBC_EXTRA_CFLAGS="-gdwarf-5"

# this will be the main libc so it can go directly in /usr
RUNTIME_PREFIX="/"
DEVEL_PREFIX="/usr"

# include linux specific syscalls
UCLIBC_LINUX_SPECIFIC=y

# include posix realtime functions
UCLIBC_HAS_REALTIME=y
UCLIBC_HAS_ADVANCED_REALTIME=y
