#configs that are multiple choice, pick options to simplify
CONFIG_SH_IS_NONE=y
CONFIG_INSTALL_APPLET_DONT=y
CONFIG_FEATURE_BUFFERS_GO_IN_BSS=y
CONFIG_LOOP_CONFIGURE=y
CONFIG_DESKTOP=y

#enable debugging
#provide location to find headers and libraries
#turn on some hacks to work with our minimal libc
CONFIG_EXTRA_CFLAGS="-gdwarf-5 --sysroot=../sysroot -DHACK"

#needed for running without an MMU
CONFIG_STATIC=y
CONFIG_PIE=y

#build busybox applet with ability to install
CONFIG_BUSYBOX=y
CONFIG_FEATURE_INSTALLER=y

#init system to control system power
CONFIG_INIT=y
CONFIG_FEATURE_USE_INITTAB=y
CONFIG_POWEROFF=y
CONFIG_REBOOT=y

#file management
CONFIG_LS=y
CONFIG_PWD=y
CONFIG_STAT=y
CONFIG_DF=y
CONFIG_DU=y
CONFIG_CP=y
CONFIG_MV=y
CONFIG_LN=y
CONFIG_RM=y
CONFIG_RMDIR=y
CONFIG_UNLINK=y
CONFIG_MKNOD=y
CONFIG_MKDIR=y
CONFIG_MKFIFO=y
#CONFIG_FALLOCATE=y

#system utils
CONFIG_DMESG=y
CONFIG_UNAME=y
CONFIG_FREE=y
CONFIG_CLEAR=y
CONFIG_ENV=y
CONFIG_PS=y
CONFIG_KILL=y

#viewing files
CONFIG_CAT=y
CONFIG_MORE=y
CONFIG_VI=y
CONFIG_DD=y
CONFIG_HEAD=y
CONFIG_TAIL=y

#pipeline glue
CONFIG_TEE=y
CONFIG_TR=y
CONFIG_CUT=y
CONFIG_UNIQ=y
CONFIG_SORT=y
CONFIG_SPLIT=y
CONFIG_WC=y

#binary data
CONFIG_BASE64=y
CONFIG_HEXEDIT=y
CONFIG_XXD=y
CONFIG_HEXDUMP=y
CONFIG_OD=y
CONFIG_PRINTF=y
CONFIG_ECHO=y
CONFIG_STRINGS=y
CONFIG_SHA256SUM=y

#file systems
CONFIG_MOUNT=y
CONFIG_UMOUNT=y
CONFIG_SYNC=y

#modules
CONFIG_INSMOD=y
CONFIG_RMMOD=y
CONFIG_LSMOD=y

#i2c
CONFIG_I2CDETECT=y
CONFIG_I2CDUMP=y
CONFIG_I2CGET=y
CONFIG_I2CSET=y
CONFIG_I2CTRANSFER=y
